@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

@utility ta-* {
  transition-duration: calc(--value(integer, [integer]) * 0.925ms);
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    trangray,
    scale,
    rotate,
    filter,
    -webkit-backdrop-filter,
    backdrop-filter;
  transition-timing-function: ease;

  @media (prefers-reduced-motion: reduced) {
    transition-duration: calc(--value(integer, [integer]) * 0.675ms);
  }
}

@utility section {
  scroll-margin-top: 80px;

  .title {
    @apply mb-4 text-center text-3xl font-bold md:text-4xl;
  }

  .desc {
    @apply mx-auto mb-12 max-w-2xl text-center text-gray-700 dark:text-gray-300;
  }
}

@utility btn {
  @apply rounded-lg px-4 py-2 font-medium ta-200 focus:ring-2 focus:ring-offset-2;
}

*:focus-visible {
  @apply outline-2 outline-offset-2 outline-primary;
}

:focus:not(:focus-visible) {
  outline: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  --color-muted: var(--muted);
  --color-muted-hover: var(--muted-hover);
}

:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-900);

  --primary: #622bfc;
  --primary-hover: #5217e6;

  --secondary: #5c1ce5;
  --secondary-hover: #6b2ef9;

  --muted: var(--color-gray-300);
  --muted-hover: var(--color-gray-200);
}

.dark {
  --background: var(--color-gray-950);
  --foreground: var(--color-gray-100);

  --primary: #5217e6;
  --primary-hover: #622bfc;

  --secondary: #6b2ef9;
  --secondary-hover: #5c1ce5;

  --muted: var(--color-gray-800);
  --muted-hover: var(--color-gray-700);
}

@layer base {
  *,
  ::after,
  ::before {
    @apply border-foreground/50 ta-150;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }

  body {
    @apply text-foreground;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-style: normal;
    font-stretch: 100%;
    font-family: 'Satoshi', Roboto, 'Segoe UI', sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: normal;
    font-feature-settings: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: gray-scale;
  }

  button {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-gray-800 dark:text-gray-200;
  }
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@keyframes border-spin {
  100% {
    --border-angle: 360deg;
  }
}

.spotlight {
  --border-angle: 0deg;
  animation: border-spin 6s linear infinite;
  border: 1px solid transparent;
  border-radius: 1rem;
  background:
    linear-gradient(
        45deg,
        var(--color-gray-900),
        var(--color-gray-800) 50%,
        var(--color-gray-950)
      )
      padding-box,
    conic-gradient(
        from var(--border-angle),
        rgba(71, 85, 105, 0.48) 80%,
        #14b8a6 86%,
        #67e8f9 90%,
        #14b8a6 94%,
        rgba(71, 85, 105, 0.48) 100%
      )
      border-box;
}
